{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postres Monterrey</title>
    <link rel="stylesheet" href=" {% static 'css/estilos.css' %} ">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'recetas' %}">Recetas</a></li>
                <li><a href="{% url 'top10' %}">Top 10</a></li>
                <li><a href="{% url 'saludables' %}">Saludables</a></li>
                <li><a href="{% url 'contacto' %}">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Contactanos</h1>
        <img src=" {% static 'img/postre.jpg' %} " alt="">
    </main>
    <footer>
        <address>
            <p>Avenida Paseo Los angeles</p>
        </address>
    </footer>
</body>
</html>